<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <service
            android:name=".Utility.AlertIntentService"
            android:exported="false"></service>

        <activity
            android:name=".Activities.Instructor.InstructorEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Instructor.InstructorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Instructor.InstructorListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Assessment.AssessmentDetailsActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Assessment.AssessmentListActivity" />
        <activity
            android:name=".Activities.Assessment.AssessmentEditActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Assessment.AssessmentListActivity" />
        <activity
            android:name=".Activities.Assessment.AssessmentListActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Course.CourseListActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Course.CourseDetailActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Course.CourseListActivity" />
        <activity
            android:name=".Activities.Course.CourseEditActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Course.CourseListActivity" />
        <activity
            android:name=".Activities.Term.TermEditActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Term.TermDetailsActivity" />
        <activity
            android:name=".Activities.Term.TermDetailsActivity"
            android:exported="false"
            android:parentActivityName=".Activities.Term.TermListActivity" />
        <activity
            android:name=".Activities.Term.TermListActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>